/* ui */
@charset "utf-8";
img {width: 100%;}
.wrap {position: relative;}
.inner-width {width: 100%; max-width: 1320px; margin: 0 auto; padding: 0 20px;}
.inner-wrap {width: 100%; max-width: 1320px; margin: 0 auto; padding: 5em 20px 13em;}
/* ellipsis */
.ellipsis {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/* txt align */
.txt-c {text-align: center!important;}
.txt-l {text-align: left!important;}

/* padding */
.pb-0 {padding-bottom: 0!important;}

/* btn */
.btn-wrap {display: flex; align-items: center; gap: .7em; margin-top: 2em;} 
.btn-wrap.w100 [class^="btn"] {width: 100%; font-size: 1.2rem;}
.btn-wrap.right {justify-content: flex-end;}
.btn-wrap [class^="btn"] {min-width: 9em; height: 3.5em; padding: 0 1em; line-height: 3.5em; border-radius: 3px; border: 1px solid #999; color: #555; font-size: 1.1rem;} 
[class^="btn"] {min-width: 100px; font-weight: 500; text-align: center; transition: all .1s ease-in-out;}
[class^="btn"][class*="round"] {border-radius: 30px;}
[class^="btn"][class*="gry"] {background: #46B161; border: transparent; color: #fff;}
[class^="btn"][class*="grn"] {background: #555; border: transparent; color: #fff;}
[class^="btn"][class*="gray"] {background: #ddd; border: transparent;}
[class^="btn"][class*="green"] {border: 1px solid #46B161; color: #46B161;}
[class^="btn"][class*="green"]:hover {background: #46B161; color: #fff;}
[class^="btn"][class*="h40"] {height: 40px; line-height: 40px;}

/* header */
.header .header-top {display: flex; justify-content: space-between; align-items: center; height: 80px; padding: 0 20px; border-bottom: 1px solid #ddd;}
.header .header-top .comp-logo {display: inline-block; width: 15em; padding: 0;}
.header .header-top .comp-logo img {width: 100%;}
.header .header-menu {display: flex; align-items: center; justify-content: flex-end; flex: 1; padding: 0 0 0 20px;}
.header .header-menu .header-link {display: flex; justify-content: space-between; align-items: center; gap: 2em; flex-shrink: 0; flex-wrap: nowrap; margin-left: 3em;}
.header .header-menu .header-link > a {display: block;}
.header .header-menu .link-more-btn {display: none;}
.header .header-menu .link-more-btn + input {position: absolute; top: -99999px; left: -99999px; font-size: 0px;}
.header .header-menu .link-more-btn::before {content: ''; display: block; width: 10px; height: 35px; margin-left: 1em; background: url('/img/common/ico-more-btn.png')no-repeat center; background-size: contain; opacity: .9;}

/* search bar */
.search-wrap {position: relative; width: 100%; max-width: 500px;}
.search-wrap .search-bar {width: 100%; height: 45px; background: #fff; border-radius: 10px; padding: 12px 15px 12px 50px; font-size: 16px;}
.search-wrap .search-bar::placeholder {font-size: 16px; color: #999;}
.search-wrap .search-bar.round3 {border-radius: 30px;}
.search-wrap .search-bar.border {border: 1px solid #ddd;}
.search-wrap .ico-search {position: absolute; top: 50%; left: 15px; transform: translateY(-50%); width: 20px; height: 20px; background: url('/img/common/ico-search.png')no-repeat center; background-size: contain; opacity: .5;}

/* bg color */
[class*="bg-color"][class*="f7"] {background: #f7f7f7;}
[class*="bg-color"][class*="ee"] {background: #eee;}

/* inner box */
.inner-box {margin-top: 3em; padding: 2.8em; border-radius: 10px;}

/* nav */
/* .nav-wrap {max-width: 1320px; margin: 0 auto; } */
.nav-wrap .global-nav ul {display: grid; grid-template-columns: repeat(5, 1fr); max-width: 1280px; padding: 2.5em 0; margin: 0 auto; transition: all .1s ease-in-out;}
.nav-wrap .global-nav ul li {margin: 0 auto; width: 5em; text-align: center;}
.nav-wrap .global-nav ul li p {margin-top: .7em; font-size: 1.2rem;}
.nav-wrap .global-nav ul li img {width: 100%;}
.nav-wrap .sub-nav {position: relative; width: 100%; background: #fff;}
.nav-wrap .sub-nav ul {display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, auto)); border-top: 1px solid #ddd;}
.nav-wrap .sub-nav ul li {text-align: center; border-bottom: 1px solid #ddd; border-right: 1px solid#ddd;}
.nav-wrap .sub-nav ul li a {display: block; padding: 1em 0; font-weight: 500;}
.nav-wrap .sub-nav ul li:hover > a {background: #eee;}
.nav-wrap .sub-nav ul li.active > a {background: #9f9f9f; font-weight: 700; color: #fff;}
.nav-wrap .sub-nav ul li.all-menu > a { background: #46B161; color: #fff; font-weight: 700;}

/* 전체카테고리 */
.all-menu .all-menu-list {display: none; gap: 1em; justify-content: space-evenly; width: 100%; position: absolute; top: 47px; left: 0; padding: 2.1em 4.2em 4em; background: #fff; text-align: left; border-top: 1px solid #ddd; z-index: 5;}
.all-menu .all-menu-list.on {display: flex; box-shadow: 15px 15px 15px rgba(0,0,0,.06);}
.all-menu .all-menu-list .link-tit {margin-bottom: .7em; font-size: 1.28rem; font-weight: 700;}
.all-menu .all-menu-list .section > a {padding: 0; font-size: .9rem; color: #666;}
.all-menu .all-menu-list .section > a:hover {color: #222;}
.all-menu .all-menu-list .section > a + a {margin-top: .7em;}
.all-menu .all-menu-list .section + .section {margin-top: 2em;}

/* tit wrap */
.tit-wrap h1 {font-size: 2.5rem;}
.sub-tit h2 {font-size: 1.5rem; color: #999; font-weight: 400;}
.tit-wrap + .sub-tit {margin: 1em 0 0 0;}
.tit-wrap .desc-wrap {margin-top: 1em;}

/* category */
.cate-tit {display: flex; align-items: center; gap: .5em;}
.cate-tit h2 {font-size: 1.5rem;}
.cate-tit span {font-size: 1rem; color: #999; vertical-align: middle; font-weight: 500;}
.cate-wrap .cate-top-area .cate-link-box {display: grid; grid-template-columns: repeat(3, 1fr); gap: 3em 1em; width: 100%; margin: 1.4em 0 0; padding: 2.8em; border: 1px solid #ddd; border-radius: 10px;}
.cate-wrap .cate-top-area .cate-link-box li {margin: 0 auto;}
.cate-wrap .cate-list-area {margin: 3.5em 0 0;}
.cate-list-area ul {display: grid; grid-template-columns: repeat(auto-fit, minmax(18%, auto)); gap: 2.5em 2em;}
.cate-list-area .prd-img {position: relative; padding-top: 70%; overflow: hidden;}
.cate-list-area .prd-img img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; }
.cate-list-area .prd-info {margin: 1.4em 0 0 0;}
.cate-list-area .prd-info .prd-name {font-size: 1.1rem; font-weight: 500; word-break: break-word;}
.cate-list-area .prd-info .cate-name {display: block; margin: .6em 0 0 0; font-size: 1rem; color: #999;}
.cate-list-area .prd-info .price {margin: .6em 0 0 0; font-weight: 500; font-size: 1.3rem;}
.cate-list-area .prd-info .price.redtxt {color: #D62727;}
.list-paging {margin-top: 7em;}
.list-paging ul {display: flex; justify-content: center; align-items: center; gap: .5em;}
.list-paging ul li {text-align: center; border-radius: 50%; overflow: hidden;}
.list-paging ul li button,
.list-paging ul li a {display: block; width: 2.5em; height: 2.5em; line-height: 2.5em; font-size: 16px; color: #999;}
.list-paging ul li.active a {color: #fff; font-weight: 500; background: #273A5F;}

/* prd detail */
.prd-top {display: flex; gap: 10em; margin-top: 3em;}
.prd-top > div {flex: 1;}
.prd-top .prd-img {max-width: 600px; width: 100%; margin: 0 auto; overflow: hidden;}
.prd-top .prd-img img {width: 100%;}
.prd-top .prd-info .name {margin-bottom: 1.5em; font-size: 2rem; font-weight: 500;}
.prd-top .prd-info dl {display: flex; justify-content: space-between; align-items: center; margin-top: 2em; gap: 2em;}
.prd-top .prd-info dl dt {font-size: 1.2rem; color: #999;}
.prd-top .prd-info dl dd {flex: 1; width: 50%; text-align: right; font-size: 1.2rem; color: #222;}
.prd-top .prd-info .input-area select {border: 1px solid #ddd;}
.prd-top .prd-info .input-area .opt-list {margin-top: 2em;}
.prd-top .prd-info .input-area .opt-list .opt-prd {display: flex; align-items: center; gap: 1em;}
.prd-top .prd-info .input-area .opt-list .prd-name {font-size: 1.2rem; font-weight: 500;}
.prd-top .prd-info .input-area .opt-list .num-chk input {max-width: 4em; padding: .8em 1em; background: #eee; border-radius: 5px;}
.prd-top .prd-info .input-area .opt-list .num-chk input[type='number']::-webkit-outer-spin-button,
.prd-top .prd-info .input-area .opt-list .num-chk input[type='number']::-webkit-inner-spin-button {opacity: 1;} 
.prd-top .prd-info .opt-list li {display: flex; align-items: center; justify-content: flex-start; gap: 1.5em;}
.prd-top .prd-info .opt-list li + li {padding-top: 1em; margin-top: 1em; border-top: 1px solid #ddd;}
.prd-top .prd-info .opt-list .remove-btn {margin-left: auto; font-size: 1.1rem; font-weight: 500; color: #999;}
.prd-top .prd-info .opt-list .remove-btn::after {content: ''; display: inline-block; width: 1em; height: 1em; margin: 0 1em; background: url('/img/common/ico-close.png')no-repeat center; background-size: 100%; opacity: .5;}
.prd-top .prd-info .opt-list .prd-price {margin-left: em;}
.prd-top .prd-info .opt-list .prd-price span {font-size: 1.2rem; font-weight: 500;}
.prd-top .amount {margin-top: 2em; font-size: 2rem; text-align: right; font-weight: 500;}
.prd-top .amount.redtxt {color: #D62727;}
.prd-detail .detail-top {margin-top: 2em; padding: 0 2em; height: 60px; background: #f7f7f7; border-radius: 10px;}
.prd-detail .detail-top p {line-height: 60px; font-weight: 500; font-size: 1.2rem;}
.prd-detail .detail-img {padding: 4em;}
.prd-detail .detail-img img {width: 100%;}
.download-btn-group {display: flex; align-items: center; justify-content: space-between; gap: 1em; margin-top: 1em;}
.download-btn-group a {display: block; width: 100%; height: 45px; line-height: 45px; text-align: center; border: 1px solid #999; border-radius: 3px; font-size: 1.1rem; font-weight: 500;}
.ico-download {content: ''; display: inline-block; width: 15px; height: 15px; margin-right: .5em; background: url('/img/common/ico-download.png')no-repeat center; background-size: 100%; vertical-align: -2px;}

/* list detail */
.list-detail {margin: 5em 0 0 0;}
.list-detail .tit {font-size: 1.5rem;}
.list-detail .tit + .detail-wrap {margin: 1em 0 0 0;}
.list-detail .detail-wrap {border-top: 2px solid #222;}
.list-detail .detail-wrap .auth-info {display: flex; justify-content: space-between; align-items: center; padding: 1em;}
.list-detail .detail-wrap .auth-info .auth {display: flex; justify-content: space-between; align-items: center;}
.list-detail .detail-wrap .auth-info .auth dt {color: #999;}
.list-detail .detail-wrap .auth-info .auth dd {position: relative; color: #222; font-weight: 500;}
.list-detail .detail-wrap .auth-info .auth dd::before {content: ''; display: inline-block; margin: 0 .5em; width: 1px; height: 12px; background: #ddd;}
.list-detail .detail-wrap .auth-info .date {color: #999;}
.list-detail .detail-wrap .attach-wrap {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.list-detail .detail-wrap .attach-wrap dl {display: flex; align-items: center;}
.list-detail .detail-wrap .attach-wrap dt {min-width: 100px; padding: 1.5em; align-self: stretch; background: #f7f7f7; text-align: center;}
.list-detail .detail-wrap .attach-wrap dd {padding: 1em 1.5em;}
.list-detail .detail-wrap .attach-list ul {display: flex; align-items:center; gap: .7em 1em; flex-wrap: wrap;}
.list-detail .detail-wrap .attach-list ul a {text-decoration: underline; color: #62a1bc; font-size: .8rem;}
.list-detail .detail-wrap .cont {padding: 2em 1.5em; border-bottom: 1px solid #ddd; color: #555; font-size: 1.1rem;}

/* search box */
.select-group {display: flex; align-items: center; justify-content: space-between; gap: 1em;}
.select-group select {width: 100%; border-radius: 10px; height: 45px; padding: 0 12px; background-image: url('/img/common/ico-arrow-down.png'); background-repeat: no-repeat; background-position: calc(100% - 10px); background-size: 15px; }
.search-area {display: flex; gap: 1em; justify-content: center;}
.search-area select {min-width: 10em; border-radius: 10px; padding: 0 12px; background: #555; color: #fff; background-image: url('/img/common/ico-arrow-down-wht.png'); background-repeat: no-repeat; background-position: calc(100% - 10px); background-size: 15px;} 
.search-area select option {background: #fff;}
.select-group + .search-area  {margin-top: 1em;}

/* tb-list-wrap */
.tb-list-wrap {margin-top: 4em;}
.tb-list-wrap table {width: 100%;}
.tb-list-wrap table th,
.tb-list-wrap table td a,
.tb-list-wrap table td {position: relative; padding: 12px 0; text-align: center; font-size: 1.2rem; vertical-align: middle; max-width: 100px;}
.tb-list-wrap table td a {font-weight: 500;}
.tb-list-wrap table .lock p {padding-left: 30px;}
.tb-list-wrap table tr {border-top: 1px solid #eee;}
.tb-list-wrap table tr:nth-child(1) {border-top: transparent;}
.tb-list-wrap table th {border-bottom: 1px solid #222;}
.tb-list-wrap td p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.tb-list-wrap .lock p::before {content: ''; display: block; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url('/img/common/ico-lock.png')no-repeat center; background-size: cover;}
.ico-attach {content: ''; display: block; width: 25px; height: 25px; margin: 0 auto; background: url('/img/common/ico-attach.png')no-repeat center; background-size: contain; text-align: center;}

/* tab */
.tit-wrap + .tab-btn-wrap {margin-top: 4em;}
.tab-btn-wrap {display: flex; justify-content: space-between; align-items: center;}
.tab-btn-wrap li {width: 100%; text-align: center;}
.tab-btn-wrap li a {display: block; width: 100%; padding: 1em; border: 1px solid #ddd; border-collapse: collapse;}
.tab-btn-wrap li.active a {background: #46B161; color: #fff;}

/* accord-wrap */
.accord-wrap {border-top: 2px solid #222;}
.accord-wrap .item {width: 100%;}
.accord-wrap .item ~ .item {border-top: 1px solid #ddd;}
.accord-wrap .item button {display: block; width: 100%;}
.accord-wrap .reply,
.accord-wrap .ask {display: flex; align-items: center; width: 100%; padding: 1.5em 1em; text-align: left; gap: 1em;}
.accord-wrap .ask em {color: #555;}
.accord-wrap .ask .date {margin-left: auto;}
.accord-wrap .reply .reply-cont,
.accord-wrap .ask .accord-tit {font-size: 1.2rem; font-weight: 500; text-align: left;}
.accord-wrap .reply {display: flex; gap: 1.5em; padding: 2em 1em; background: #f7f7f7;}
.accord-wrap .reply em {color: #46B161;}
.accord-wrap .reply .prd {color: #555; font-weight: 800; font-size: 1rem;}
.accord-wrap .reply .prd span {margin-left: 1em; font-size: 1rem; font-weight: 500;}
.accord-wrap .reply .cont {margin-top: .6em; font-size: 1.1rem; font-weight: 400;}

/* popup */
.dim {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); z-index: 10;}
.layer-pop {display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; background: #fff; border-radius: .7em; z-index: 11;}
.layer-pop.sm {max-width: 28.57em;}
.layer-pop .pop-header {padding: 1.4em 2.14em 1em; border-bottom: 1px solid #222; background: #273A5F; border-radius: .7em .7em 0 0;}
.layer-pop .pop-header .tit {color: #fff;}
.layer-pop .pop-header h2.tit {font-size: 1.4rem; font-weight: 700;}
.layer-pop .close-btn {position: absolute; top: 1.4em; right: 1.78em; width: 1.4em; height: 1.4em; background: url('/img/common/ico-close-wh.png')no-repeat; background-size: 100%;}
.layer-pop .pop-content {padding: 2.14em 2.14em 0; text-align: center;}
.layer-pop .pop-content p {font-size: 1.28rem; font-weight: 500;}
.layer-pop .pop-content p + .input-group {margin-top: 1.4em;}
.layer-pop .pop-content .input-group {display: flex; justify-content: space-between; align-items: center; gap: 1.4em;}
.layer-pop .pop-content .input-group label {font-size: 1.28rem; font-weight: 500;}
.layer-pop .pop-content .input-group input {flex: 1; padding: .7em; width: 100%; border: 1px solid #999; border-radius: .35em;}
.layer-pop .btn-wrap {padding: 0 2.14em 2.14em;}
/* .layer-pop .pop-close::before {content: ''; display: block; } */

/* main */
.main-slide .swiper-slide .mo {display: none;}
.main .about {padding: 4em 0; background:#EBFCF2;}
.main .about ul {display: flex; justify-content: center; gap: 6em;}
.main .about ul li {flex: 1; position: relative; padding-left: 3em;}
.main .about ul li::before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 2.2em; height: 2.2em;}
.main .about ul li:nth-child(1)::before {background: url('/img/ico_about_01.png') no-repeat center; background-size: 100%;}
.main .about ul li:nth-child(2)::before {background: url('/img/ico_about_02.png') no-repeat center; background-size: 100%;}
.main .about ul li:nth-child(3)::before {background: url('/img/ico_about_03.png') no-repeat center; background-size: 100%;}
.main .about ul em {font-size: 1.4rem; font-weight: 800; text-transform: uppercase;}
.main .about ul em + p {margin-top: .5em;}
.category-list ul {display: flex; justify-content: center; flex-wrap: wrap; gap: 3em; padding: 6em 0;}
.category-list ul li {width: calc(33.33% - 3em); text-align: center; transition: all .2s ease-in-out;}
.category-list ul li .txt {font-size: 1.4rem; font-weight: 500; text-transform: uppercase;}
.category-list ul li:hover {transform: scale(1.05);}
.best-prd {background: #C3DEF9; padding: 3.3em 0 6.6em;}
.best-prd .tit-wrap {text-align: center;}
.best-prd .tit-wrap > span {color: #325496; font-weight: 500;}
.best-prd .tit-wrap .tit span,
.best-prd .tit-wrap .tit {font-size: 2.2rem; font-weight: 800;}
.best-prd .tit-wrap .tit span {color: #325496;}
.best-prd ul {display: grid; grid-template-columns: repeat(3, 1fr); gap: 2em; margin: 3.3em 20px 0; height: 400px;}
.best-prd ul li {display: block; position: relative; background: #fff; box-shadow: 15px 15px 25px rgba(0,0,0,.1); border-radius: 10px; overflow: hidden;}
.best-prd ul li a {display: block; width: 100%; height: 100%; padding: 1.5em;}
.best-prd ul li a em {position: absolute; bottom: 1.5em; left: 1.5em; display: inline-block; width: 8.3em; height: 2.7em; line-height: 2.7em; border-radius: 30px; border: 1px solid #325496; text-align: center; background: #fff; font-weight: 500; color: #325496; transition: all .2s ease-in-out;}
.best-prd ul li .prd-info {position: relative; z-index: 1;}
.best-prd ul li .prd-info .name {font-size: 1.3rem; font-weight: 800;}
.best-prd ul li .prd-info .name + span {display: block; margin-top: .5em; color: #888;}
.best-prd ul li .img {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.best-prd ul li .img img {position: absolute; max-width: 500px;}
.best-prd ul li:nth-child(1) {grid-row: 1/3; grid-column: 1/2;}
.best-prd ul li:nth-child(4) {grid-column: 2/4;}
.best-prd ul li:nth-child(1) .img img {bottom: -1em; right: -3em; transform: rotate(-15deg);}
.best-prd ul li:nth-child(2) .img img {max-width: 300px; right: -3em; bottom: -3em; transform: rotate(15deg);}
.best-prd ul li:nth-child(3) .img img {max-width: 300px; right: -3em; bottom: -3em; transform: rotate(-15deg);}
.best-prd ul li:nth-child(4) .img img {top: 50%; right: 0; transform: translateY(-50%); max-width: 50%;}
.best-prd ul li:hover a em {background: #325496; color: #fff;}
/* ceo */
.ceo-greeting-wrap {padding: 12em 5em; background: url('/img/about/bg-ceo-greeting.png')no-repeat 100%; background-size: cover;}
.ceo-greeting-wrap p.emp > span,
.ceo-greeting-wrap p.emp {font-size: 2.3rem; font-weight: 500;}
.ceo-greeting-wrap p {font-size: 1.5rem;}
.ceo-greeting-wrap p + p {margin-top: 2em;}
.ceo-greeting-wrap .point-color {color: #46B161; font-size: 1.8rem; font-weight: 500;}
.ceo-greeting-wrap .ceo-sign {margin-top: 6em;}
.ceo-greeting-wrap .ceo-sign span {font-size: 1.2rem; font-weight: 700; letter-spacing: -0.025em;}
.ceo-greeting-wrap .ceo-sign p {font-size: 2.3rem; font-weight: 700; letter-spacing: .5em;}
.profile-wrap {margin-top: 10em;}
.profile-wrap h4 {font-size: 2rem;}
.profile-list {display: flex; gap: 5em; margin-top: 1em; padding: 2em; background: #f7f7f7; border-radius: 1em;}
.profile-list dl dt {font-size: 1.4rem; font-weight: 600;}
.profile-list dl dd {margin-top: 1em; font-size: 1.2rem;}
.profile-list dl dd::before {content: '-'; display: inline-block; margin-right: .3em;}
.profile-list dl dd + dd {margin-top: .5em;}
/* history */
.history-wrap {margin-top: 5.5em;}
.history-wrap dl {display: flex; justify-content: center;}
.history-wrap dl + dl {margin-top: 4.4em;}
.history-wrap dl:nth-child(2) {padding: 4.4em 1.5em; background: #f2f9ee;}
.history-wrap dl dt {font-size: 2.7rem; font-weight: 800; margin-right: 1em; color: #555;}
.history-wrap dl dt span {font-size: 2.7rem; color: #46B161;}
.history-wrap dl .history-detail {position: relative; padding-left: 2.5em;}
.history-wrap dl .history-detail::before {content: ''; display: block; position: absolute; left: 0; top: .5em; width: 1px; height: 100%; background: #ddd;}
.history-wrap dl .history-detail:after {content: ''; display: block; position: absolute; left: -.5em; top: -1em; width: 1em; height: 1em; background: #d2e6c7; border-radius: 50%;}
.history-wrap .history-detail li {display: flex;}
.history-wrap .history-detail li ~ li {margin-top: 1.9em;}
.history-wrap .history-detail li > em {width: 8em; color: #999;}
.history-wrap .history-detail li > p {width: 15em; word-break: keep-all;}
/* map */
.map-wrap {margin-top: 5.5em;}
.map-wrap .contact .contact-list {display: flex;}
.map-wrap .contact .contact-list li {flex: 1; position: relative; padding-right: 1em; word-break: keep-all;}
.map-wrap .contact .contact-list li + li {padding-left: 2em;}
.map-wrap .contact .contact-list li + li::before {content:''; display: block; position: absolute; left: 0; width: 1px; height: 100%; background: #ddd;}
.map-wrap .contact .contact-list li h4 > span {font-size: 1.6rem; color: #46B161;}
.map-wrap .contact .contact-list li h4 {font-size: 1.6rem;}
.map-wrap .contact .contact-list li dl {display: flex; margin-top: 1.5em;}
.map-wrap .contact .contact-list li dl dt {color: #999; flex: 1;}
.map-wrap .contact .contact-list li dl dd {margin-left: 1em; flex: 4; line-height: 1.6;}
.map-wrap .contact .contact-list li dl dd > div {margin-top: .5em;}
.map-wrap .contact .contact-list li dl dd > div span + span {display: inline-block; margin-left: 1em;}
.map-wrap .contact .contact-list li dl + dl {margin-top: 1.6em;}
.map-wrap .map {width: 100%;}
.map-wrap .map .root_daum_roughmap {width: 100%; margin-top: 5em;}

/* login */
.login-wrap .tab-wrap {max-width: 700px; margin: 5em auto 0;}
.login-wrap .login-content {margin: 2em auto 0; padding: 4em; border: 1px solid #ddd;}
.login-wrap .input-group .input-item {display: flex; align-items: center; gap: 2em;}
.login-wrap .input-group .input-item label {flex: 1; font-size: 1.2rem;}
.login-wrap .input-group .input-item input {flex: 3; margin-top: 1em; width: 100%; height: 4em; border: 1px solid #ddd;}
.login-wrap .btn-wrap {justify-content: center; padding: 0 20%; box-sizing: border-box;}
.login-wrap .btn-wrap .btn {width: calc(100% - 2em)}

/* media query */
/* 1100px */
@media (max-width: 1100px) {
    .header .header-menu .search-wrap {min-width: auto;} 
    .header .header-top .comp-logo {width: 14em;}
    .cate-list-area ul {grid-template-columns: repeat(auto-fit, minmax(25%, auto));}
    .header .header-menu .link-more-btn {display: block;}
    .header .header-menu .header-link {display: none;}
    .header .header-menu .link-more-btn + input:checked + .header-link {display: flex; flex-direction: column; gap: 1em; position: absolute; top: 70px; right: 10px; padding: 1em; background: #fff; border: 1px solid #ddd; z-index: 1;}
    .header .header-menu .link-more-btn + input:checked + .header-link [class^="btn"] {border: none; height: auto; line-height: unset;}
    .prd-top {gap: 3em;}
    .prd-detail .detail-img {padding: 0;}
    .prd-top .prd-info .input-area .opt-list .opt-prd {flex-direction: column; align-items: flex-start;}
    .main .about ul {gap: 3em;}
}
/* 768px */
@media (max-width: 768px) {
    .header .header-top .comp-logo {width: 12em;}
    .header .header-menu .header-link a {font-size: 1.2rem;}
    .nav-wrap .global-nav ul {gap: 2em 1em; grid-template-columns: repeat(3, 1fr);}
    .nav-wrap .global-nav ul li img {filter: grayscale(0); opacity: 1;}
    .inner-box {padding: 1em;}
    .prd-top {flex-direction: column;}
    .all-menu .all-menu-list.on {display: grid; grid-template-columns: repeat(2, 1fr); padding: 2em;}
    .ceo-greeting-wrap br {display: none;}
    .history-wrap .history-detail li > em {width: 6em;}
    .map-wrap .contact .contact-list {flex-direction: column; gap: 3em;}
    .map-wrap .contact .contact-list li + li {padding-left: 0; padding-top: 2em; border-top: 1px solid #ddd;}
    .map-wrap .contact .contact-list li + li::before {display: none;}
    .best-prd {padding: 3.3em 0 3.3em;}
    .best-prd ul {grid-template-columns: repeat(2, 1fr); gap: 1em; margin: 3em 0;}
    .best-prd ul li:nth-child(1) {grid-row: 1/2;}
    .best-prd ul li:nth-child(1) .img img {bottom: -3em; right: -3em;}
    .best-prd ul li:nth-child(4) {grid-column: 2/3;}
    .best-prd ul li:nth-child(4) .img img {top: unset; right: -3em; bottom: -3em; transform: rotate(15deg);}
    .best-prd ul li .img img {max-width: 250px!important;}
    .profile-list {flex-wrap: wrap; gap: 3em;}
    .profile-list dl {width: 100%;}
    .profile-list dl + dl {padding-top: 2em; border-top: 1px solid #888;}
    .ceo-greeting-wrap .ceo-sign p {text-align: right;}
}
@media (max-width: 680px) {
    .main-slide .swiper-slide .pc {display: none;}
    .main-slide .swiper-slide .mo {display: block;}
    .main .about ul {flex-direction: column;}
    .category-list ul {padding: 3em 0;}
    .category-list ul li {width: calc(50% - 3em);}
}
/* 600 */
@media (max-width: 600px) {
    .tb-list-wrap {overflow-x: auto;}
    .tb-list-wrap table {width: 800px;}
    .tb-list-wrap table th,
    .tb-list-wrap table td {padding: 15px 0;}
    .ceo-greeting-wrap {padding: 5em 2em;}
    .history-wrap dl {flex-direction: column; gap: 2em;}
    .history-wrap dl:nth-child(2) {padding: 3em 1.5em;}
    .history-wrap dl .history-detail {padding-left: 1.5em;}
    .history-wrap dl + dl {margin-top: 3em;}
    .ceo-greeting-wrap p.emp > span, .ceo-greeting-wrap p.emp {font-size: 1.8rem;}
    .ceo-greeting-wrap p + p {font-size: 1.3rem;}
    .ceo-greeting-wrap .ceo-sign p {font-size: 2.5rem; letter-spacing: .1em; word-break: keep-all;}
    .ceo-greeting-wrap .ceo-sign span {margin-bottom: .5em; font-size: 1rem;}
    .profile-wrap {margin-top: 6em;}
    .profile-wrap h4 {font-size: 1.5rem;}
}
/* 500 */
@media (max-width: 500px) {
    .btn-wrap [class^="btn"] {min-width: auto; width: 100%;} 
    .list-detail .detail-wrap .attach-wrap dl {flex-direction: column;}
    .list-detail .detail-wrap .attach-wrap dt {padding: 1.5em 0 0;}
    .list-detail .detail-wrap .attach-wrap dd {padding: 2em;}
    .select-group {flex-direction: column;}
    .search-area select {min-width: 6em;}
    .tab-btn-wrap {flex-direction: column;}
    .accord-wrap .ask .accord-tit {font-size: 1rem;}
    .layer-pop {max-width: auto; width: calc(100% - 3em);}
    .ceo-greeting-wrap p.emp > span, .ceo-greeting-wrap p.emp {font-size: 2rem;}
    .ceo-greeting-wrap p + p {margin-top: 1.5em;}
    .ceo-greeting-wrap .point-color {font-size: 1.7rem;}
    .ceo-greeting-wrap .ceo-sign {margin-top: 3em;}
    .best-prd ul {grid-template-columns: repeat(1, 1fr); gap: 1em; height: 700px;}
    .best-prd ul li:nth-child(4) {grid-column: 1/1;}
}
/* 425px */
@media (max-width: 425px) {
    * {font-size: 13px;}
    .inner-wrap {padding: 4em 20px 10em;}
    .header .header-menu .search-wrap {display: none;}
    .cate-list-area ul {grid-template-columns: repeat(auto-fit, minmax(30%, auto));}
    .list-paging {margin-top: 5em;}
    .list-paging ul li button,
    .list-paging ul li a {font-size: 13px;}
    .tit-wrap h1 {font-size: 2rem;}
    .sub-tit h2 {font-size: 1.3rem; color: #999; font-weight: 400;}
    .tit-wrap + .sub-tit {margin: .8em 0 0 0;}
    .prd-top .amount {margin-top: 1em;}
    .prd-top .amount + .btn-wrap {margin-top: 3em;}
    .download-btn-group {gap: .6em;}
    .download-btn-group a {font-size: .9rem;}
    /* .category-list ul li {width: 100%;} */
}