/* ui */
@charset "utf-8";

.wrap {position: relative; overflow: hidden;}
.inner-wrap {width: 100%; max-width: 1320px; margin: 0 auto; padding: 5em 20px 13em;}

/* btn */
[class^="btn"] {min-width: 100px; font-weight: 500; text-align: center; transition: all .1s ease-in-out;}
[class^="btn"][class*="round"] {border-radius: 30px;}
[class^="btn"][class*="green"] {border: 1px solid #46B161; color: #46B161;}
[class^="btn"][class*="green"]:hover {background: #46B161; color: #fff;}
[class^="btn"][class*="h40"] {height: 40px; line-height: 40px;}

/* header */
.header .header-top {display: flex; justify-content: space-between; align-items: center; height: 80px; padding: 0 20px; border-bottom: 1px solid #ddd;}
.header .header-top .comp-logo {display: inline-block; width: 15em; padding: 0;}
.header .header-top .comp-logo img {width: 100%;}
.header .header-menu {display: flex; align-items: center; justify-content: flex-end; flex: 1; padding: 0 0 0 20px;}
.header .header-menu .header-link {display: flex; justify-content: space-between; align-items: center; gap: 2em; flex-shrink: 0; flex-wrap: nowrap; margin-left: 3em;}
.header .header-menu .header-link > a {display: block;}
.header .header-menu .link-more-btn {display: none;}
.header .header-menu .link-more-btn + input {position: absolute; top: -99999px; left: -99999px; font-size: 0px;}
.header .header-menu .link-more-btn::before {content: ''; display: block; width: 10px; height: 35px; margin-left: 1em; background: url('/img/common/ico-more-btn.png')no-repeat center; background-size: contain; opacity: .9;}

/* search bar */
.search-wrap {position: relative; width: 100%; max-width: 500px;}
.search-wrap .search-bar {width: 100%; height: 45px; background: #f7f7f7; border: 1px solid #ddd; border-radius: 30px; padding: 12px 15px 12px 50px; font-size: 16px;}
.search-wrap .search-bar::placeholder {font-size: 16px; color: #999;}
.search-wrap .ico-search {position: absolute; top: 50%; left: 15px; transform: translateY(-50%); width: 20px; height: 20px; background: url('/img/common/ico-search.png')no-repeat center; background-size: contain; opacity: .5;}

/* nav */
/* .nav-wrap {max-width: 1320px; margin: 0 auto; } */
.nav-wrap .global-nav ul {display: grid; grid-template-columns: repeat(5, 1fr); max-width: 1280px; padding: 2.5em 0; margin: 0 auto; transition: all .1s ease-in-out;}
.nav-wrap .global-nav ul li {margin: 0 auto; width: 5em; text-align: center;}
.nav-wrap .global-nav ul li p {margin-top: .7em; font-size: 1.2rem;}
.nav-wrap .global-nav ul li img {width: 100%;}
.nav-wrap .sub-nav ul {display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, auto)); border-top: 1px solid #ddd;}
.nav-wrap .sub-nav ul li {text-align: center; border-bottom: 1px solid #ddd; border-right: 1px solid#ddd;}
.nav-wrap .sub-nav ul li a {display: block; padding: 1em 0; font-weight: 500;}
.nav-wrap .sub-nav ul li:hover a {background: #eee;}
.nav-wrap .sub-nav ul li.all-menu a {background: #46B161; color: #fff; font-weight: 700;}

/* category */
.cate-tit {display: flex; align-items: center; gap: .5em;}
.cate-tit h2 {font-size: 1.5rem;}
.cate-tit span {font-size: 1rem; color: #999; vertical-align: middle; font-weight: 500;}
.cate-wrap .cate-top-area .cate-link-box {display: grid; grid-template-columns: repeat(3, 1fr); gap: 3em 1em; width: 100%; margin: 1.4em 0 0; padding: 2.8em; border: 1px solid #ddd; border-radius: 10px;}
.cate-wrap .cate-top-area .cate-link-box li {margin: 0 auto;}
.cate-wrap .cate-list-area {margin: 3.5em 0 0;}
.cate-list-area ul {display: grid; grid-template-columns: repeat(auto-fit, minmax(18%, auto)); gap: 2.5em 2em;}
.cate-list-area .prd-img img {width: 100%;}
.cate-list-area .prd-info {margin: 1.4em 0 0 0;}
.cate-list-area .prd-info .prd-name {font-size: 1.1rem; font-weight: 500; word-break: break-word;}
.cate-list-area .prd-info .cate-name {display: block; margin: .6em 0 0 0; font-size: 1rem; color: #999;}
.cate-list-area .prd-info .price {margin: .6em 0 0 0; font-weight: 500; font-size: 1.3rem;}
.cate-list-area .prd-info .price.redtxt {color: #D62727;}
.list-paging {margin-top: 7em;}
.list-paging ul {display: flex; justify-content: center; align-items: center; gap: 1em;}
.list-paging ul li {text-align: center; border: 1px solid #ddd; border-radius: 3px;}
.list-paging ul li a {display: block; padding: 1em; font-size: 16px; color: #999;}
.list-paging ul li.active {border: 2px solid #555;}
.list-paging ul li.active a {color: #333; font-weight: 500;}

/* footer */
footer {padding: 10em; background: #273A5F;}

/* media query */
/* 1100px */
@media (max-width: 1100px) {
    .header .header-menu .search-wrap {min-width: auto;} 
    .header .header-top .comp-logo {width: 14em;}
    .cate-list-area ul {grid-template-columns: repeat(auto-fit, minmax(25%, auto));}
    .header .header-menu .link-more-btn {display: block;}
    .header .header-menu .header-link {display: none;}
    .header .header-menu .link-more-btn + input:checked + .header-link {display: flex; flex-direction: column; gap: 1em; position: absolute; top: 70px; right: 10px; padding: 1em; background: #fff; border: 1px solid #ddd; z-index: 1;}
    .header .header-menu .link-more-btn + input:checked + .header-link [class^="btn"] {border: none; height: auto; line-height: unset;}
}
/* 768px */
@media (max-width: 768px) {
    .header .header-top .comp-logo {width: 12em;}
    .header .header-menu .header-link a {font-size: 1.2rem;}
    .nav-wrap .global-nav ul {gap: 2em 1em; grid-template-columns: repeat(3, 1fr);}
    .nav-wrap .global-nav ul li img {filter: grayscale(0); opacity: 1;}
    
}
/* 425px */
@media (max-width: 425px) {
    .inner-wrap {padding: 5em 20px 10em;}
    .header .header-menu .search-wrap {display: none;}
    .cate-list-area ul {grid-template-columns: repeat(auto-fit, minmax(30%, auto));}
    .list-paging {margin-top: 5em;}
    .list-paging ul li a {font-size: 14px;}
}